.welcome{
  color: #FFA07A;
  margin-left: 400px;;
}

.text{
  color: #008B8B;
}

.login-container, .application-container{
  margin-top: 50px;
  margin-left: 60px;
}

.space{
  margin-right: 10px;
}

.my-card{
  border-radius: 100px;
  border-color: blue;
}

.font{
  font-family: 'Sriracha', cursive;
}

.btn-outline-danger {
  float: right;
}
