.welcome{
  color: #FFA07A;
  margin-left: 400px;;
}

.text{
  color: #008B8B;
}

.login-container, .application-container{
  margin-top: 50px;
  margin-left: 60px;
}

.space{
  margin-right: 10px;
}

.my-card{
  border-radius: 100px;
  border-color: blue;
  font-weight: 500;
}

.font{
  font-family: 'Sriracha', cursive;
}

.btn-outline-danger {
  float: right;
}

.card-img-top{
  size: portrait;
  width: 50px;
  height: 150px;
}

.my-pic{
  width: 130px;
  height: 130px;
}
